awslambdaric==1.0.0
beautifulsoup4==4.9.3
boto3==1.17.26
botocore==1.20.112
certifi==2022.12.7
cfgv==3.3.1
chardet==4.0.0
distlib==0.3.6
filelock==3.12.0
greenlet==2.0.2
identify==2.5.22
idna==2.10
importlib_metadata==4.8.1
jmespath==0.10.0
nodeenv==1.7.0
platformdirs==3.2.0
pre-commit==3.2.2
aws-psycopg2
pydantic==1.7.3
python-dateutil==2.8.1
PyYAML==6.0
requests==2.25.1
s3transfer==0.3.7
selenium==3.141.0
simplejson==3.17.2
six==1.16.0
soupsieve==2.4
SQLAlchemy==2.0.8
tqdm==4.54.1
typing_extensions==4.5.0
urllib3==1.26.15
virtualenv==20.21.0
